body{
    background-color: #232323;
    color: #fff;
}

#site-header .navbar-inner{
    background-image: none;
    background-color: #111;
    height: 60px;
}

#site-header .brand{
    line-height: 60px;
    padding: 0 5%;
    font-size: 30px;
}

#collections ul{
    list-style: none;
}